<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QaClick Academy Suite">

	<listeners>
		<listener class-name="com.E2EProject.Listeners" />
		<listener class-name="com.E2EProject.ExtentReporterNG" />

	</listeners>

	<test name="Validating Navigation bar">
		<classes>
			<class name="com.E2EProject.ValidateNavigationBar" />
		</classes>
	</test>

	<test name="Validating Title of the Page">
		<classes>
			<class name="com.E2EProject.ValidateTitle" />
		</classes>
	</test>

	<test name="validating HomePage test">
		<classes>
			<class name="com.E2EProject.HomePageTest" />
		</classes>
	</test>
	
	<test name="Registratin page test">
		<classes>
			<class name="com.E2EProject.RegistrationPageTest" />
		</classes>
	</test>
	
	<test name="Contacts page test">
		<classes>
			<class name="com.E2EProject.ContactPageTest" />
		</classes>
	</test>
	
	<test name="Facebook landing page Test">
		<classes>
			<class name="fbtestcases.FbLandingPageTest" />
		</classes>
	</test>
	
	<test name="Facebook Creatpage Test">
		<classes>
			<class name="fbtestcases.CreatePageTest" />
		</classes>
	</test>

</suite>
